#!/usr/bin/perl

%conf = (
    'def_swip',		'172.20.20.200',
    'CONTROL_VLAN',	1,
    'CONTROL_HOST_MAC',	'00:09:3d:12:c6:58',
    'BLOCKPORT_VLAN',	4094,
    'STARTPORTSTATE',	1,
    'STARTPORTCONF',	10,
    'STARTLINKCONF',	20,
    'CLI_VLAN_LINKTYPE',21,
    'CLI_DFLT_TERM',	1,
    'MAXPARENTS',	7,
    'FIRST_ZONEVLAN',	1000,
    'DEF_COMUNITY',     'public',

    'MYSQL_host',	'localhost',
    'MYSQL_base',	'vlancontrol',
    'MYSQL_user',	'mysqluser',
    'MYSQL_pass',	'mysqlpass',

    'MSSQL_host',	'StatServer',
    'MSSQL_base',	'inet',
    'MSSQL_user',	'mssqluser',
    'MSSQL_pass',	'mssqlpass',

#    '',		,
);

%checkmac = (
    '1'         =>      '00:09:3d:12:c6:58',
    '10'        =>      '00:09:3d:12:c6:59',
    '870'       =>      '00:09:3d:12:c6:58',
);
