#!/usr/bin/perl

#$conflog{'LOGPORT'}

%conflog = (
    'LOGDFLT',     '/var/log/swctl/switch-control.log',
#    'LOGPORT',     '/var/log/swctl/change_port.log',
#    'LOGTERM',     '/var/log/swctl/change_term.log',
#    'LOGLINK',     '/var/log/swctl/change_link.log',
    'LOGDISP',     '/var/log/dispatcher/ap_ctl.log',
);

1;
