#!/usr/bin/perl

use strict;

package SWConf;

our $debug = 1;

our %dbconf = (
    'MYSQL_host'        => 'localhost',
    'MYSQL_base'        => 'vlancontrol',
    'MYSQL_user'        => 'swctl',
    'MYSQL_pass'        => 'swpassword',

    'MSSQL_server'      => 'BILLING',
    'MSSQL_base'        => 'inet',
    'MSSQL_user'        => 'mssqluser',
    'MSSQL_pass'        => 'mssqlpass',
);

our %aaa_conf = (
    'FAKE_QUOTE'        => 600,
    'FAKE_DNS'          => '77.239.208.22',
    'DNS_IP1'           => '77.239.208.17',
    'DNS_IP2'           => '77.239.208.5',
    'mail_server'       => '192.168.100.21',
    'pppoe_server'      => '192.168.100.30',
    'pod_port'          => 1700,
    'pod_secret'        => 'secret',
);

our %conf = (
    'def_swip'          => '172.20.20.200',
    'BLOCKPORT_VLAN'    => 4094,
    'STARTPORTCONF'     => 10,
    'STARTLINKCONF'     => 20,
    'CLI_VLAN_LINKTYPE' => 21,
    'MAXPARENTS'        => 10,
    'CYCLE_SLEEP'       => 30,
    'FIRST_ZONEVLAN'    => 4094,
    'DEF_COMUNITY'      => 'Comunity123',
    'CHECK_PPPOE_UP'    => 0,

    'DHCP_USE'          => 1,
    'DHCP_PRI'          => 1,
    'DHCP_WINDOW'       => 3600,
    'DHCP_POOLTYPE'     => 2,

    'DHCP_ACCOUNT'      => 1,
    'DHCP_NAS_IP'       => '192.168.100.20',
    'DHCP_ACC_HOST'     => '192.168.100.100',
    'DHCP_ACC_PORT'     => 1813,
    'DHCP_ACC_SECRET'   => 'secret2account',
    'DHCP_ACC_USERPREF' => 'DHCP',
);

our %checkmac = (
    '1'                 => '00:09:3d:12:c6:58',
    '10'                => '00:09:3d:12:c6:59',
    '870'               => '00:09:3d:12:c6:58',
    '409'               => '00:09:3d:12:c6:58',
);

our %conflog = (
    'LOGDFLT'           => '/var/log/swctl/switch-control.log',
    'LOGDISP'           => '/var/log/dispatcher/ap_ctl.log',
    'LOGAPFIX'          => '/var/log/swctl/ap_fix.log',
);

1;
