<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title> [% IF title %] [% title %] [% ELSE %] TITLE [% END %] [%IF admin %][admin][% END %] </title>
<meta http-equiv="Content-Type" content="text/html; charset=KOI8-R">
<!--
<link href="main.css" rel="stylesheet" type="text/css">
-->
<link href="/swctl/?css=main.css" rel="stylesheet" type="text/css">

[% IF tablesorter %]
<script type="text/javascript" src="/swctl/?js=jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/swctl/?js=jquery.tablesorter.min.js"></script>
<script language="javascript" type="text/javascript">
$(function(){
    $("#tablesorter").tablesorter( {textExtraction: 'complex'} );
})
</script>
[% END %]

<script language="javascript" type="text/javascript">
function toggleDisplay(e){
    parent_el = document.getElementById(e).parentNode.parentNode.style;
    parent_el.display = parent_el.display == 'none' ? '' : 'none';

    element = document.getElementById(e).style;
    element.display == 'none' ? element.display = 'block' : element.display='none';
    if( document.getElementById(e).width == '100%')
        document.getElementById(e).width = document.getElementById(e+'_w').clientWidth+10;
}

function conf_del(p,u){
    if( confirm( 'Delete ' + p ) )
        window.location.href = u;
}

function toggleDisplay_all(r){
    var t = document.getElementsByTagName('table')
    for(var i=0; i<t.length; i++){
        if(t[i].id.match(r))
            toggleDisplay(t[i].id)
    }
}
</script>
</head>
<body>
[% IF err %] <h1 align=center><font color=red> [% err %]</font></h1>[% END %]
