Hostname;Филиал;Город;Описание ситуации;Услуга;Абоненты;Время начала;Время окончания;Длительность;

[%-FOREACH line IN lines-%]
[%-line.hostname-%];ООО "Коминтел";г. Тюмень;Нет Интернета по адресу [%-line.street-%].;Интернет;[%-line.count-%] аб.;[%-line.begin-%];[%-line.end-%];[%-line.duration-%];
[%END%]
